<header class="container">
<h1>Angular testing</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis aperiam tempora delectus aliquam optio expedita ipsam magni nostrum aspernatur quod vitae rerum, impedit fuga saepe laborum quam assumenda dolore tempore.</p>
<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/products">Porduct</a></li>
    <li><a routerLink="/pico-preview">Pico Preview</a></li>
  </ul>
</nav>
</header>
<router-outlet></router-outlet>
